
ul {
  margin: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 10px;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  font-size: 30px;
  padding: 14px 16px;
  text-decoration: none;
}

.topButtons{
  float: right;
}

.topButtons>li a{
  padding-right: 30px;
  font-size: 20px;
}

.welcomeMsg {
	font-size: 35px;
	color: black;
	float: left;
  padding: 20px 0 30px 50px;
}

.welcomeMsg>p {
  font-size: 15px;
  color: black;
}

.login{
  padding-top: 50px; 
  text-align: center;
}


/* style inputs and link buttons */
input,
.btn {
  width: 50%;
  padding: 12px;
  border: none;
  border-radius: 12px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

input:hover,
.btn:hover {
  opacity: 1;
}

/* style the submit button */
input[type=submit] {
  	background-color: #4CAF50;
  	color: white;
  	cursor: pointer;
}

input[type=submit]:hover {
  	background-color: #45a049;
}

.button {
  background-color: #B03A2E;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* Two-column layout */
.col {
  float: right;
  width: 50%;
  margin: auto;
  padding: 0 40px;
  margin-top: 6px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
}