* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.7em;
  color: #7f8c8d;
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  color: #34495e;
}

.pure-img-responsive {
  max-width: 100%;
  height: auto;
}

.is-center {
  text-align: center;
}

.home-menu {
  padding: 0.5em;
  text-align: center;
  box-shadow: 0 1px 1px rgba(0,0,0, 0.10);
}
.home-menu {
  background: #2d3e50;
}
.pure-menu.pure-menu-fixed {
  border-bottom: none;
  z-index: 4;
}

.home-menu .pure-menu-heading {
  color: white;
  font-weight: 400;
  font-size: 120%;
}

.home-menu .pure-menu-selected a {
  color: white;
}

.home-menu a {
  color: #6FBEF3;
}
.home-menu li a:hover,
.home-menu li a:focus {
  background: none;
  border: none;
  color: #AECFE5;
}

.container {
  margin: auto;
  width: 60%;
  height: 100%;
border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
    0 10px 10px rgba(0,0,0,0.22);
position: relative;
overflow: auto;
max-width: 100%;
  min-height: 480px;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 90%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 700px;
}

input {
background-color: #eee;
border: none;
padding: 12px 15px;
margin: 8px 0;
  width: 100%;
  border-radius: 8px;
}

a {
color: white;
font-size: 14px;
text-decoration: none;
margin: 15px 0;
}

#flex {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.book-flex {
  width: 25%;
}
.book-flex-in {
  box-sizing: border-box;
  margin: 5px; 
  padding: 10px;
  border: 1px solid #e7fcde;
  background: #f6fff2;
}
.book-img {
  width: 90%;
  height: auto;
}

.book-name {
  font-weight: 1000;
}

.book-author {
  font-weight: 500;
}

.book-price {
  color: #f44242;
}

.book-add {
  background: #f46b41;
  color: #fff;
  border: none;
  width: 50%;
  padding: 10px;
  margin: 10px 5px 5px 5px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
  padding: 10px;
  position: relative;
  height: auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.book-quantity {
  width: 20%;
  padding: 5px 10px;
  border: #E0E0E0 1px solid;
}

#btnEmpty {
	background-color: #ffffff;
	border: #d00000 1px solid;
	padding: 5px 10px;
	color: #d00000;
	text-decoration: none;
	border-radius: 3px;
}


.checkout-button {
  background-color: #1f8dd6;
  color: white;
  padding: 0.5em 2em;
  border-radius: 5px;
  height: auto;
  width: 100%;
}

/* Responsive */
@media only screen and (max-width: 600px) {
  .card { width: 23%; }

  .checkout-button{ width: 23%;}
}

@media only screen and (max-width: 1024px) {
  div.p-flex { width: 33%; }
}
@media only screen and (max-width: 600px) {
  div.p-flex { width: 50%; }
}

@media (min-width: 48em) {

  body {
      font-size: 16px;
  }

  .home-menu {
      text-align: left;
  }
      .home-menu ul {
          float: right;
      }
}

