
*{
  font-family: "Arial", Helvetica ,sans-serif;
  box-sizing: border-box;
}


body {
 background-color: #cccccc;
}


ul {
  margin: auto;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 10px;
}

li {
  float: left;
}

li a {
  display: block;
  color: black;
  font-size: 30px;
  padding: 14px 16px;
  text-decoration: none;
}

.line{
width: 100%;
border-bottom: 3px solid black;
position: absolute;
}

.search-container input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

.search-container button{
  float: right;
  width: 12%;
  padding: 10px;
  background: #2196F3;
  height: 42px;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

.search-container button:hover {
  background: #0b7dda;
}

.search-container::after {
  content: "";
  clear: both;
  display: table;
}

.menu {
  width: 25%;
  float: left;
  padding: 15px;
  border: 1px solid red;
}

.main {
  width: 75%;
  float: left;
  padding: 15px;
  /*border: 1px solid red;*/
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid black;
  text-align: center;
  font-size: 30px;
}


